In [1]:
import pandas as pd

# funções desenvolvidas para o projeto:
from src.config import DADOS_ORIGINAIS

In [2]:
df = pd.read_csv(DADOS_ORIGINAIS)

In [3]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [5]:
display(df[df['Time_spent_Alone'].isnull()])

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
59,NaN,No,9.0,4.0,No,7.0,5.0,Extrovert
125,NaN,Yes,3.0,0.0,Yes,2.0,1.0,Introvert
171,NaN,No,4.0,7.0,No,7.0,5.0,Extrovert
180,NaN,No,8.0,5.0,No,9.0,4.0,Extrovert
207,NaN,Yes,2.0,2.0,Yes,1.0,2.0,Introvert
...,...,...,...,...,...,...,...,...
2705,NaN,No,9.0,5.0,No,9.0,4.0,Extrovert
2711,NaN,No,4.0,6.0,No,12.0,3.0,Extrovert
2715,NaN,No,6.0,6.0,No,14.0,6.0,Extrovert
2772,NaN,No,7.0,6.0,No,11.0,7.0,Extrovert
2787,NaN,NaN,1.0,2.0,Yes,4.0,2.0,Introvert

In [6]:
for coluna in df.columns:
    qtde_nan = df[coluna].isnull().sum()
    print(f'{coluna} - {qtde_nan}')

Time_spent_Alone - 63
Stage_fear - 73
Social_event_attendance - 62
Going_outside - 66
Drained_after_socializing - 52
Friends_circle_size - 77
Post_frequency - 65
Personality - 0

In [7]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2477 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2477 non-null   float64
 1   Stage_fear                 2477 non-null   object
 2   Social_event_attendance    2477 non-null   float64
 3   Going_outside              2477 non-null   float64
 4   Drained_after_socializing  2477 non-null   object
 5   Friends_circle_size        2477 non-null   float64
 6   Post_frequency             2477 non-null   float64
 7   Personality                2477 non-null   object
dtypes: float64(5), object(3)
memory usage: 174.2+ KB

In [8]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [9]:
df.columns = ['tempo_passado_sozinho', 'medo_de_palco', 'part_eventos_sociais', 'sair_de_casa', 'esgotado_apos_socializar', 'tamanho_circulo_amizade', 'freq_post', 'personalidade']

In [10]:
df.columns

Index(['tempo_passado_sozinho', 'medo_de_palco', 'part_eventos_sociais',
       'sair_de_casa', 'esgotado_apos_socializar', 'tamanho_circulo_amizade',
       'freq_post', 'personalidade'],
      dtype='object')

In [11]:
df.head()

,tempo_passado_sozinho,medo_de_palco,part_eventos_sociais,sair_de_casa,esgotado_apos_socializar,tamanho_circulo_amizade,freq_post,personalidade
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [12]:
colunas_binarias = df.nunique()[df.nunique() == 2].index.to_list()
colunas_binarias

['medo_de_palco', 'esgotado_apos_socializar', 'personalidade']

In [13]:
for coluna in colunas_binarias:
    if coluna != 'personalidade':
        df[coluna] = pd.Categorical(df[coluna]).rename_categories(["Não", "Sim"])
    else:
        df[coluna] = pd.Categorical(df[coluna]).rename_categories(["Extrovertido", "Introvertido"])

In [14]:
df.head()

,tempo_passado_sozinho,medo_de_palco,part_eventos_sociais,sair_de_casa,esgotado_apos_socializar,tamanho_circulo_amizade,freq_post,personalidade
0,4.0,Não,4.0,6.0,Não,13.0,5.0,Extrovertido
1,9.0,Sim,0.0,0.0,Sim,0.0,3.0,Introvertido
2,9.0,Sim,1.0,2.0,Sim,5.0,2.0,Introvertido
3,0.0,Não,6.0,7.0,Não,14.0,8.0,Extrovertido
4,3.0,Não,9.0,4.0,Não,8.0,5.0,Extrovertido

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2477 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tempo_passado_sozinho     2477 non-null   float64
 1   medo_de_palco             2477 non-null   category
 2   part_eventos_sociais      2477 non-null   float64
 3   sair_de_casa              2477 non-null   float64
 4   esgotado_apos_socializar  2477 non-null   category
 5   tamanho_circulo_amizade   2477 non-null   float64
 6   freq_post                 2477 non-null   float64
 7   personalidade             2477 non-null   category
dtypes: category(3), float64(5)
memory usage: 123.7 KB

Já as colunas numéricas, há a necessidade de fazer uma análise para saber se todas os dados se tratam de números inteiros.

In [16]:
df["tempo_passado_sozinho"].apply(float.is_integer).all()

True

In [17]:
df["part_eventos_sociais"].apply(float.is_integer).all()

True

In [19]:
df["tamanho_circulo_amizade"].apply(float.is_integer).all()

True

In [20]:
df["freq_post"].apply(float.is_integer).all()

True

Como todos os dados se tratam de números inteiros, mudaremos o tipo de dado (de floar para inteiro) para obtermos menor espaço de memória e maior performance

In [21]:
colunas_numericas = df.select_dtypes(include="number").columns.to_list()
colunas_numericas

['tempo_passado_sozinho',
 'part_eventos_sociais',
 'sair_de_casa',
 'tamanho_circulo_amizade',
 'freq_post']

In [22]:
for coluna in colunas_numericas:
    df[coluna] = pd.to_numeric(
        df[coluna],
        downcast="integer"
    )

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2477 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tempo_passado_sozinho     2477 non-null   int8
 1   medo_de_palco             2477 non-null   category
 2   part_eventos_sociais      2477 non-null   int8
 3   sair_de_casa              2477 non-null   int8
 4   esgotado_apos_socializar  2477 non-null   category
 5   tamanho_circulo_amizade   2477 non-null   int8
 6   freq_post                 2477 non-null   int8
 7   personalidade             2477 non-null   category
dtypes: category(3), int8(5)
memory usage: 39.1 KB

In [24]:
df.to_parquet("../dados/introvertido_extrovertido.parquet", index=False)